services:
  postgres:
    image: postgres:17-alpine
    container_name: postgres
    restart: unless-stopped
    ports:
      - "127.0.0.1:5432:5432"
    env_file: .env
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - thwelly-net
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U aiproxy -d aiproxysrv"]
      interval: 10s
      timeout: 5s
      retries: 3

  redis:
    image: redis:alpine
    container_name: redis
    restart: unless-stopped
    ports:
      - "127.0.0.1:6379:6379"
    env_file: .env
    volumes:
      - redis-data:/data
    networks:
      - thwelly-net
    command: redis-server --appendonly no
    healthcheck:
        test: ["CMD", "redis-cli", "ping"]
        interval: 10s
        timeout: 5s
        retries: 3

volumes:
  postgres-data:
  redis-data:

networks:
  thwelly-net:
    external: true
    name: thwelly-net
